{% paginate collection.products by 12 %}

{% comment %} Breadcrumbs + Hero {% endcomment %}
    <section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="img/photo/erii-gutierrez-487083-unsplash.jpg" data-speed="0.3" data-position-x="right">
      <div class="container overlay-content hero hero-page">
       {% if collection.all_vendors.size > 0 %}
        <ul class="breadcrumb justify-content-center no-border mb-0">
          {% for product_vendor in collection.all_vendors %}
          <li class="breadcrumb-item"><a class="text-white" href="{{ shop.secure_url }}">Home</a></li>
          <li class="breadcrumb-item text-white active"> {{ product_vendor | link_to_vendor }} </li>
          {% endfor %}  
        </ul>
       {% endif %}
        <div class="hero-content pb-5 text-center text-white">
          <h1 class="hero-heading">{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <p class="lead"> {{ collection.description }}
            </p>
          {% endif %}                     
        </div>
      </div>
    </section>


{% comment %} End Breadcrums + Hero {% endcomment %}


  <div>
    {% for product in collection.products %}
      <div>
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 700,
              max_height: 800
            %}
          </a>
        {% endif %}

        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

<script>
Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
$('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = $(this).val();
    location.search = $.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>